body {
    background-color: #1f1f1f;
    margin: 25pt;
    color: white;
    font-family: system-ui;
}

a {
    color: light-blue;
    font-size: 25pt;
    margin: 2pt;
    text-decoration: none;
}

#list {
    background-color: gray;
    color: white;
    height: 80vh;
    width: 100vh;
}